<div class="sidebar">
    <nav class="mt-2">
         <ul class="nav nav-pills nav-sidebar flex-column nav-flat" data-widget="treeview" role="menu" data-accordion="false">
             <li class="nav-item">
                <a href="<%= baseUrl %>" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link treeview-link">
                    <i class="nav-icon fas fa-list"></i>
                    <p>Products <i class="fas fa-angle-left right"></i></p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="<%= baseUrl %>product-categories" class="nav-link">
                            <i class="nav-icon far fa-circle"></i>
                            <p>Categories</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="<%= baseUrl %>product-units" class="nav-link">
                            <i class="nav-icon far fa-circle"></i>
                            <p>Units</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="<%= baseUrl %>products" class="nav-link">
                            <i class="nav-icon far fa-circle"></i>
                            <p>Items</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link treeview-link">
                    <i class="nav-icon fas fa-list"></i>
                    <p>Transaction <i class="fas fa-angle-left right"></i></p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="<%= baseUrl %>sales" class="nav-link">
                            <i class="nav-icon far fa-circle"></i>
                            <p>Sales</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="<%= baseUrl %>stock-in" class="nav-link">
                            <i class="nav-icon far fa-circle"></i>
                            <p>Stock In / Purchase</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="<%= baseUrl %>stock-out" class="nav-link">
                            <i class="nav-icon far fa-circle"></i>
                            <p>Stock Out</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="<%= baseUrl %>suppliers" class="nav-link">
                    <i class="nav-icon fas fa-users"></i>
                    <p>Suppliers</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="<%= baseUrl %>customers" class="nav-link">
                    <i class="nav-icon fas fa-users"></i>
                    <p>Customers</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="<%= baseUrl %>users" class="nav-link">
                    <i class="nav-icon fas fa-users"></i>
                    <p>Users</p>
                </a>
            </li>
        </ul>
    </nav>
</div>